<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
<form action="/member/save" method="post">
    아이디: <input type="text" name="memberName"> <br>
    비밀번호: <input type="text" name="memberPassword"> <br>
    이메일: <input type="text" name="memberEmail"> <br>
    이름: <input type="text" name="memberUsername"> <br>
    학교: <input type="text" name="memberSchool"> <br>
    학과: <input type="text" name="memberMajor"> <br>
    <input type="submit" value="회원가입">
</form>
</body>
</html>